* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Roboto', sans-serif;
  background-color: rgb(248, 235, 236);
  line-height: 1.5;
}
.result-sum {
  background: rgba(251, 235, 235, 0.767);
  height: 100vh;
}
.result {
  background: linear-gradient(
    180deg,
    rgba(89, 63, 205, 0.957),
    rgb(43, 43, 241)
  );
  color: #fff;
  text-align: center;
  padding: 2rem;
  border-radius: 0 0 2rem 2rem;
  height: 50vh;
}
.result h3 {
  color: rgb(180, 180, 229);
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}
.total-result {
  background: linear-gradient(
    rgba(39, 8, 152, 0.536),
    rgba(43, 43, 241, 0.189)
  );
  border-radius: 50%;
  height: 150px;
  width: 160px;
  padding: 0 15px;
  margin: 0 auto;
}
.total-result h1 {
  font-size: 60px;
  font-weight: 900 !important;
  margin-top: 1rem;
  padding: 15px 0 0;
}
.total-result p {
  color: rgb(180, 180, 229);
  font-size: 20px;
}
.result h2 {
  margin-top: 2rem;
  font-size: 2rem;
  font-weight: 500;
}
.result .g-p {
  width: 350px;
  margin: 0 auto;
  font-size: 1.3rem;
  font-weight: 400;
  color: rgb(180, 180, 229);
}
.summary {
  margin: 2rem;
  padding: 1rem;
  height: 50vh;
}

.summary h3 {
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 1rem;
}
.input {
  margin: 10px 0;
}
.input ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  font-size: 1.5rem;
  margin: 1rem 0;
  border-radius: 15px;
}

.input span {
  color: rgb(162, 162, 196);
}

.input ul li:nth-child(2) {
  color: black;
}
.input .reaction {
  background-color: rgb(248, 213, 213);
  color: red;
}
.input .memory {
  background: rgba(248, 229, 191, 0.579);
  color: orange;
}
.input .verbal {
  background-color: rgba(214, 238, 214, 0.406);
  color: green;
}
.input .visual {
  background-color: rgb(225, 225, 251);
  color: blue;
}
.continue {
  background: rgb(39, 37, 57);
  color: #fff;
  padding: 1rem;
  margin: 15px auto;
  border: none;
  border-radius: 2rem;
  text-align: center;
  font-size: 20px;
}
.continue:hover {
  cursor: pointer;
}
@media screen and (min-width: 700px) {
  body {
    display: grid;
    justify-content: center;
    align-items: center;
  }
  .result-sum {
    height: 50vh;
    margin-top: 30%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    align-self: center;
    box-shadow: 5px 5px 5px #bbc8d33c;
  }
  .result,
  .summary {
    margin: 0;
  }
  .result {
    border-radius: 20px;
  }
  .summary {
    padding: 2rem;
  }
}
